.tmp
*.pyc
*.iml
.dev

#virtualenv
venv/
#current config
config.py
.idea
#后台前端忽略
website/static/node_modules
.idea
__pycache__/
website/__pycache__/
website/commons/__pycache__/
website/controlers/__pycache__/
website/controlers/backend/__pycache__/
website/controlers/backend/auth/__pycache__/
website/helper/__pycache__/
website/http/__pycache__/
website/models/__pycache__/
website/static/npm-debug.log
