{% extends 'template.html' %}
{% block script_header %}
    {#    script for ckeditor#}
    <script src="{{ url_for('backend.static',filename='lib/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-horizontal">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" class="form-control" id="id"
                                       value="{{ data.row.id }}">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">帖子标题</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" placeholder="帖子标题"
                                       value="{{ data.row.title }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="summary" class="col-sm-2 control-label">文章summary</label>
                            <div class="col-sm-10 ">
                                <input type="text" class="form-control" id="summary" placeholder="文章概要"
                                       value="{{ data.row.summary }}">
                                <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat" id="btnSummary">Summary!</button>
                    </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="tags" class="col-sm-2 control-label">帖子标签</label>
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="tags" placeholder="帖子标签"
                                >
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-info btn-flat" id="addTag">Add</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="tags" class="col-sm-2 control-label">标签管理</label>
                            <div class="col-sm-8" id="tagsPane">
                                {% for tag in data.row.tags %}
                                    <span class="tag badge bg-aqua">{{ tag.tag_name }}<i class="fa fa-fw fa-remove"></i></span>
                                {% endfor %}
                            </div>
                        </div>
                        <textarea name="editor" id="editor" rows="10" cols="80">

                              {% if data.row.content %}
                                  {{ data.row.content }}
                              {% else %}
                                  写点什么吧...
                              {% endif %}


            </textarea>
                        <script>
                            // Replace the <textarea id="editor1"> with a CKEditor
                            // instance, using default configuration.
                            var ckEditor = CKEDITOR.replace('editor');
                            ckEditor.config.extraPlugins = 'uploadimage';
                            ckEditor.config.filebrowserImageUploadUrl = '/upload/image';
                            ckEditor.config.filebrowserUploadUrl = '/upload/image';
                            ckEditor.config.imageUploadUrl = '/upload/image';
                            ckEditor.on('fileUploadRequest', function (evt) {
                                var xhr = evt.data.fileLoader.xhr;
                                xhr.setRequestHeader('csrf-token', csrfToken);
                            });
                        </script>
                    </form>

                </div>
                <div class="box-footer clearfix col-md-offset-2">
                    {% include 'common/buttons/go_back.html' %}
                    {% include 'common/buttons/create.html' %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
    {#    script for autocomple#}
    <link href="{{ url_for('backend.static', filename='node_modules/jquery-autocomplete/jquery.autocomplete.css') }}"
          rel="stylesheet">
    <script>
        requirejs(['{{ url_for('backend.static',filename='src/backend/post/post/post.js') }}']);
    </script>

{% endblock %}