{% extends 'backend/template.html' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">龙心</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th class="col-sm-1 sorttable-nosort">ID
                            </th>
                            <th class="col-sm-1 sorttable-nosort">标题</th>
                            <th class="col-sm-1 sorttable-nosort">用户</th>
                            <th class="col-sm-2 sorttable-nosort">概要</th>
                            <th class="col-sm-1 sorttable-nosort">
                                阅读数
                            </th>
                            <th class="col-sm-1 sorttable-nosort">
                                点赞数
                            </th>
                            <th class="col-sm-1 sorttable-nosort">发帖时间</th>
                            <th class="col-sm-1 sorttable-nosort">更新时间</th>
                            <th class="col-sm-2 sorttable-nosort">操作</th>
                        </tr>
                        {% for row in rows %}
                            <tr data-id="{{ row.id }}" class="icon-tr">
                                <td>{{ row.id }}</td>
                                <td>{{ row.title }}</td>
                                <td>{{ row.user_id }}</td>
                                <td>{{ row.summary }}</td>
                                <td>{{ row.read_count }}</td>
                                <td>{{ row.like_count }}</td>
                                <td>{{ row.posted_at|datetime }}</td>
                                <td>{{ row.updated_at|datetime }}</td>

                                <td>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan=10" class="center">无数据</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix ">
                    {{ pagination.links }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
{% endblock %}