{% if g.pagination %}
<a type="button" class="btn btn-success" data-pjax="#main" href="{{ url_for(url, key=data.key, offset=g.pagination.offset-g.pagination.limit if g.pagination.offset-g.pagination.limit > 0 else 0, limit=g.pagination.limit, **(params or {})) }}"><span class="glyphicon glyphicon-plus"></span> {{ text or '新建' }}</a>
{% else %}
<a type="button" class="btn btn-success" data-pjax="#main" href="{{ url_for(url, **(params or {})) }}"><span class="glyphicon glyphicon-plus"></span> {{ text or '新建' }}</a>
{% endif %}
